html,body {
    color: #333;
    margin: 0;
    height: 100%;
    font-family: "Myriad Set Pro","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.aui-content-box{
    padding:20px 0;
    width:100%;
    text-align:center;
    color:#777778;
    font-size:14px;
}
.aui-yes {
    width:100px;
    height:100px;
    margin:0 auto;
}
.aui-yes img{
    width: 100%;
}
.aui-content-box h1{
    color:#222;
    font-size:22px;
    margin-bottom:10px;

}

.aui-content-box button{
    background-color: #937cfa;
    background: -webkit-linear-gradient(to right,#11c7ff, #16a5ff);
    background: -o-linear-gradient(to right,#11c7ff, #16a5ff);
    background: -moz-linear-gradient(to right,#11c7ff, #16a5ff);
    background: linear-gradient(to right,#11c7ff, #16a5ff);
    border-radius:100px;
    box-shadow:0 5px 20px #28b2ff;
    border:none;
    width:40%;
    color:#fff;
    height:44px;
    line-height:44px;
    margin-top:20px;
}
